<!DOCTYPE html>
<html>
<head>
    <title>Bot Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <ul>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('bot') }}">Choose Difficulty</a></li>
        <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
    </ul>
</nav>


<div class="container">

    <h1>Play Against Bot</h1>


    <div class="game-info">

        <p>
            Difficulty: <strong>{{ difficulty }}</strong>
        </p>

    </div>


    <p id="status" class="status">
        Loading game...
    </p>


    <div class="board">

        <button class="cell" onclick="makeMove(0)"></button>
        <button class="cell" onclick="makeMove(1)"></button>
        <button class="cell" onclick="makeMove(2)"></button>

        <button class="cell" onclick="makeMove(3)"></button>
        <button class="cell" onclick="makeMove(4)"></button>
        <button class="cell" onclick="makeMove(5)"></button>

        <button class="cell" onclick="makeMove(6)"></button>
        <button class="cell" onclick="makeMove(7)"></button>
        <button class="cell" onclick="makeMove(8)"></button>

    </div>


    <a class="back-link"
       href="{{ url_for('bot') }}">

        ← Choose Another Difficulty

    </a>

</div>


<script>

function updateGame() {

    fetch("/bot_game_state/{{ game_code }}")

    .then(response => response.json())

    .then(data => {

        if (!data.success) {

            document.getElementById("status").innerText =
                "Game not found.";

            return;

        }


        let cells =
            document.querySelectorAll(".cell");


        for (let i = 0; i < 9; i++) {

            cells[i].innerText =
                data.board[i];

        }


        if (data.finished) {

            if (data.winner == "D") {

                document.getElementById("status").innerText =
                    "Draw!";

            }

            else if (data.winner == "X") {

                document.getElementById("status").innerText =
                    "You win!";

            }

            else {

                document.getElementById("status").innerText =
                    "Bot wins!";

            }

            return;

        }


        if (data.current_player == "player") {

            document.getElementById("status").innerText =
                "Your turn";

        }

        else {

            document.getElementById("status").innerText =
                "Bot is thinking...";

        }

    });

}


function makeMove(position) {

    fetch("/bot_move/{{ game_code }}", {

        method: "POST",

        headers: {

            "Content-Type": "application/json"

        },

        body: JSON.stringify({

            position: position

        })

    })

    .then(response => response.json())

    .then(data => {

        if (!data.success) {

            alert(data.message);

        }

        updateGame();

    });

}


updateGame();

</script>

</body>
</html>